@import '~assets/scss/mixins.scss';

.items {
  @include flex-display(flex);
  justify-content: center;
}

.navbar-default {
  -webkit-box-shadow: 0px 3px 10px -1px rgba(44,76,102,0.2);
  -moz-box-shadow: 0px 3px 10px -1px rgba(44,76,102,0.2);
  box-shadow: 0px 3px 10px -1px rgba(44,76,102,0.2);
  border-radius: 0px;
  background: white;
  border-bottom-color: white;
}

.right {
  align-self: center;
}

.left {
  font-weight: bold;
}

.navbar-brand {
  color: #2C4B66;
}

button {
  border: none;
  background: none;
  color: #96a5b1;
}

.fill-remaining-space {
  flex: 1 1 auto;
  max-width: 662px;
}
